html {
  background: #FFF;
  color: #222;
}

body {
  font-style: normal;
  line-height: 1.6em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 60em;
  font-family: "SF Pro Text", Verdana, "DejaVu Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.68em;
  font-weight: 500;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  line-height: 2em;
  margin: 0 0 0.25em 0;
}

h2 {
  line-height: 1.68em;
  font-size: 1.41em;
  font-weight: 600;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  margin: 1.25em 0 0.5em 0;
}

h3 {
  line-height: 1.41em;
  font-size: 1.18em;
  font-weight: 600;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  margin: 1.25em 0 0.5em 0;
}

h4 {
  line-height: 1.18em;
  font-size: 1em;
  font-weight: 600;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  margin: 1.25em 0 0.5em 0;
}

h5, h6 {
  font-size: 0.7em;
  font-weight: 600;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  margin: 1.25em 0 0.5em 0;
}

a {
  color: #546E00;
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #444;
}

a:hover {
  text-decoration: underline;
}

h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
  color: #444;
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #444;
}

p {
  margin: 0.5em 0 0.5em 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 2em;
}

caption {
  font-weight: 700;
}

.title, #projectname {
  line-height: 1.0125em;
  margin: 0.75em 0 0 0;
}

.titlearea .header .titlebox, #projectname {
  font-size: 1.68em;
  font-weight: 400;
  margin-bottom: 0.25em;
  margin-top: 0;
}

#header {
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #EEE;
}

.header .headertitle .title {
  line-height: 1.68em;
  font-size: 1.68em;
  font-weight: 600;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
}

.ingroups {
  display: none;
}

.title .ingroups a {
  font-size: small;
  margin-left: 1em;
}

#titlebox, #metabox {
  display: inline-block;
}

#titlebox {
  display: inline-block;
  width: 75%;
  left: 0;
  top: 0;
}

#title {
  margin-bottom: 0.25em;
  line-height: 1.25em;
  font-size: 2.5em;
  color: #333;
  font-weight: 600;
}

.PageDoc {
  margin-top: 1.5em;
}

.PageDoc .header .headertitle .title {
  display: none;
}

#shortdesc {
  margin: 0;
  color: #666;
  display: inline-block;
  font-style: italic;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  padding: 0;
}

#titlearea {
  margin: 0.25em auto 0 auto;
  padding: 0;
  position: relative;
  clear: both;
  line-height: 1em;
}

.legend {
  font-size: small;
  text-align: center;
}

.version {
  font-size: small;
  text-align: center;
}

div.qindex,div.navtab {
  background-color: #EBEFF6;
  border: 1px solid #A3B4D7;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

div.navtab {
  margin-right: 15px;
}

a.qindexHL {
  background-color: #9CAFD4;
  color: #FFF;
  border: 1px double #869DCA;
}

code {
  color: #444;
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
}

dl.el {
  margin-left: -1cm;
}

.fragment {
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
}

pre.fragment {
  border: 1px solid #C4C4C4;
  background-color: #F9F9F9;
  padding: 0.5em;
  overflow: auto;
}

div.ah {
  background-color: #000;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0.2em;
  border: thin solid #333;
}

div.groupHeader {
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: 700;
}

h2.groupheader {
  line-height: 1.18em;
  font-size: 1em;
  font-weight: 600;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  margin: 1.25em 0 0.5em 0;
}

a + h2.groupheader {
  display: none;
}

div.groupText {
  margin-left: 16px;
  font-style: italic;
}

div.contents, #content {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.groupheader + p {
  font-style: italic;
  color: #666;
  margin: 0 0 1em 0;
}

td.indexkey {
  background-color: #EBEFF6;
  font-weight: 700;
  border: 1px solid #C4CFE5;
  margin: 2px 0;
  padding: 2px 10px;
}

td.indexvalue {
  background-color: #EBEFF6;
  border: 1px solid #C4CFE5;
  padding: 2px 10px;
  margin: 2px 0;
}

table.memname {
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
  border-spacing: 0;
}

table.memname tbody tr:last-child {
  display: none;
}

table.memname tbody tr:only-child {
  display: table-cell;
}

table.memname tbody tr:nth-last-child(2)::after {
  content: ")";
}

tr.memlist {
  background-color: #EEF1F7;
}

p.formulaDsp {
  text-align: center;
}

img.formulaInl {
  vertical-align: middle;
}

div.center {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

div.center img {
  border: 0;
}

address.footer {
  text-align: right;
}

img.footer {
  border: 0;
  vertical-align: middle;
}

span.keyword {
  color: #586E75;
}

span.keywordtype {
  color: #546E00;
}

span.keywordflow {
  color: #586E75;
}

span.comment {
  color: #6C71C4;
}

span.preprocessor {
  color: #D33682;
}

span.stringliteral {
  color: #CB4B16;
}

span.charliteral {
  color: #CB4B16;
}

td.tiny {
  font-size: x-small;
}

.dirtab {
  padding: 4px;
  border-collapse: collapse;
  border: 1px solid #A3B4D7;
}

th.dirtab {
  background: #EBEFF6;
  font-weight: 700;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #DDD;
  margin: 2em 0;
}

#footer {
  bottom: 0;
  clear: both;
  font-size: x-small;
  margin: 2em 0 0;
  padding: 0 1em 1em 1em;
  vertical-align: top;
  color: #888;
}

td.ititle {
  padding-bottom: 0.75em;
}

table.memberdecls {
  border-spacing: 0.125em;
  line-height: 1.3em;
}

table.memberdecls h3 {
  line-height: 1.18em;
  font-size: 1em;
  font-weight: 600;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  margin: 1.25em 0 0.5em 0;
}

tr.inherit_header td {
  padding: 1em 0 0.5em 0;
}

.mdescLeft,.mdescRight,.memItemLeft,.memItemRight,.memTemplItemLeft,.memTemplItemRight,.memTemplParams {
  margin: 0;
  padding: 0;
}

.mdescLeft,.mdescRight {
  color: #555;
}

.memItemLeft,.memItemRight,.memTemplParams {
  border: 0;
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
}

.memItemLeft,.memTemplItemLeft {
  white-space: nowrap;
  padding-left: 2em;
}

.memItemLeft a.el {
  font-weight: bold;
}

.memTemplParams {
  color: #464646;
  white-space: nowrap;
}

td.memSeparator {
  display: none;
}

td.mlabels-left {
  margin-left: 0;
  padding-left: 0;
}

td.mlabels-right {
  color: #B4C342;
  font-weight: normal;
  margin-left: 1em;
  vertical-align: bottom;
}

.memtitle {
  border-bottom: 1px solid #EEE;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  font-size: 1.18em;
  font-weight: 600;
  line-height: 1.41em;
  margin: 1.5em 0 0 0;
}

.permalink {
  display: none;
}

.memtemplate {
  color: #888;
  font-style: italic;
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
  font-size: small;
}

.memnav {
  background-color: #EEE;
  border: 1px solid #B4C342;
  text-align: center;
  margin: 2px;
  margin-right: 15px;
  padding: 2px;
}

.memitem {
  padding: 0;
  margin: 0 0 3em 0;
}

.memproto {
  border-bottom: 1px solid #EEE;
  border-left: 1px solid #EEE;
  color: #444;
  float: right;
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
  font-size: small;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0.25em 0 0.25em 0.25em;
}

.memproto .paramname {
  font-style: normal;
  padding-right: 0.25em;
}

.mlabels {
  padding-left: 0;
  padding-right: 0;
}

.memdoc {
  padding: 0;
}

.memdoc > p:first-child, .memdoc .textblock > p:first-child {
  font-style: italic;
  color: #444;
  margin-bottom: 0.75em;
  margin-top: 0;
  padding-top: 0.25em;
  font-weight: normal;
}

.memdoc > p:first-child, .memdoc .textblock > h3:first-child {
  color: #444;
  margin-bottom: 0.75em;
  margin-top: 0;
  padding-top: 0.25em;
  font-weight: normal;
  font-size: 0.9em;
}

.paramkey {
  text-align: right;
}

.paramtype {
  color: #666;
  padding: 0 0.25em 0 0.25em;
  white-space: nowrap;
}

.params .paramname {
  color: #111;
  white-space: nowrap;
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
  font-style: italic;
  padding-right: 0.5em;
  vertical-align: top;
}

.fieldname {
  color: #000;
}

.fieldtable {
  margin-top: 1em;
  border-collapse: collapse;
}

.fieldtable tbody tr:first-child {
  display: none;
}

td.fieldname {
  vertical-align: top;
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
}

td.fielddoc {
  padding: 0.125em 0.5em 0 0.5em;
  vertical-align: top;
}

.fieldtable tbody tr td {
  border-top: 1px dashed #DDD;
  border-bottom: 1px dashed #DDD;
}

td.fieldtype {
  color: #666;
  padding: 0 0.5em 0 0;
  vertical-align: top;
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
}

td.fielddoc p {
  margin: 0;
  padding: 0 0.5em 0 0;
}

p.reference {
  font-size: x-small;
  font-style: italic;
}

.ftvtree {
  font-family: "DejaVu Sans", Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
}

.directory {
  margin: 0.5em;
}

.directory h3 {
  margin: 0;
  margin-top: 1em;
  font-size: 11pt;
}

.directory > h3 {
  margin-top: 0;
}

.directory p {
  margin: 0;
  white-space: nowrap;
}

.directory div {
  display: none;
  margin: 0;
}

.directory img {
  vertical-align: -30%;
}

td.entry {
  font-family: "DejaVu Sans", Verdana, Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-right: 1em;
}

.arrow {
  color: #CCC;
  user-select: none;
  font-size: 80%;
  display: inline-block;
  width: 16px;
  height: 22px;
  vertical-align: top;
  visibility: hidden;
}

td.entry b {
  font-family: "DejaVu Sans", Verdana, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 130%;
}

.directory-alt {
  font-size: 100%;
  font-weight: bold;
}

.directory-alt h3 {
  margin: 0;
  margin-top: 1em;
  font-size: 11pt;
}

.directory-alt > h3 {
  margin-top: 0;
}

.directory-alt p {
  margin: 0;
  white-space: nowrap;
}

.directory-alt div {
  display: none;
  margin: 0;
}

.directory-alt img {
  vertical-align: -30%;
}

div.dynheader {
  margin-top: 8px;
}

address {
  font-style: normal;
  color: #444;
}

table.doxtable {
  border-collapse: collapse;
  margin: 0.5em;
}

table.doxtable td,table.doxtable th {
  border: 1px solid #DDD;
  padding: 3px 7px 2px;
}

table.doxtable th {
  background-color: #F3F3F3;
  color: #000;
  padding-bottom: 4px;
  padding-top: 5px;
  text-align: left;
  font-weight: bold;
}

.tabsearch {
  top: 0;
  left: 10px;
  height: 36px;
  z-index: 101;
  overflow: hidden;
  font-size: 13px;
}

div.navpath {
  color: #DDD;
}

.navpath ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navpath li {
  float: left;
  padding-left: 0;
  margin-left: 0.5em;
  padding-right: 1em;
}

.navpath a {
  display: block;
  text-decoration: none;
  outline: none;
}

div.summary {
  font-size: small;
  font-family: "DejaVu Sans", Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0.25em 0;
  display: none;
}

div.summary a {
  white-space: nowrap;
}

#metabox {
  display: inline-block;
  font-size: x-small;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  position: absolute;
  right: 0;
  bottom: 0.25em;
  color: #666;
  font-style: italic;
}

#meta {
  border-style: hidden;
  margin-right: 0.25em;
}

#meta tr, #meta th, #meta td {
  background-color: transparent;
  border: 0;
  margin: 0;
  font-weight: normal;
}

#meta th {
  text-align: right;
}

#meta th::after {
  content: ":";
}

div.line {
  font-family: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, fixed;
  line-height: 1.4em;
  white-space: pre-wrap;
}

.glow {
  background-color: #2AA198;
  box-shadow: 0 0 10px #2AA198;
}

span.lineno {
  padding-right: 4px;
  text-align: right;
  border-right: 2px solid #546E00;
  background-color: #E8E8E8;
  white-space: pre;
}

span.lineno a {
  background-color: #D8D8D8;
}

span.lineno a:hover {
  background-color: #C8C8C8;
}

.tabs, .tabs2, .navpath {
  padding: 0.25em 0;
  font-size: small;
  font-family: Helvetica, Arial, "DejaVu Sans Condensed", Verdana, sans-serif;
  margin: 0;
}

th {
  text-align: left;
  font-size: 110%;
  font-weight: 500;
}

.mlabel {
  padding: 0.125em;
}

#navrow1, #navrow2 {
  /* Disable menu from Doxygen 1.8.15, it is faked in the template */
  display: none;
}

.tablist {
  margin: 0;
  padding: 0;
  display: table;
}

.tablist li {
  display: table-cell;
  line-height: 2em;
  list-style: none;
  border-bottom: 0;
}

.tablist a {
  display: block;
  padding: 0 1em 0 0;
  text-decoration: none;
  outline: none;
}

.tabs3 .tablist a {
  padding: 0 10px;
}

.tablist li.current a {
  color: #222;
}

span.icon {
  display: none;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  html {
    background: #222;
    color: #DDD;
  }

  a {
    color: #B4C342;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #DDD;
  }

  h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
    color: #DDD;
  }

  h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #DDD;
  }

  #header {
    border-bottom-color: #333;
  }

  #title {
    color: #CCC;
  }

  #shortdesc {
    color: #BBB;
  }

  code {
    color: #DDD;
  }

  pre.fragment {
    border: 1px solid #444;
    background-color: #333;
  }

  div.ah {
    background-color: #000;
    color: #FFF;
    border-color: #333;
  }

  .groupheader + p {
    color: #BBB;
  }

  td.indexkey {
    background-color: #EBEFF6;
    border: 1px solid #C4CFE5;
  }

  td.indexvalue {
    background-color: #EBEFF6;
    border: 1px solid #C4CFE5;
  }

  tr.memlist {
    background-color: #EEF1F7;
  }

  span.keyword {
    color: #586E75;
  }

  span.keywordtype {
    color: #546E00;
  }

  span.keywordflow {
    color: #586E75;
  }

  span.comment {
    color: #6C71C4;
  }

  span.preprocessor {
    color: #D33682;
  }

  span.stringliteral {
    color: #CB4B16;
  }

  span.charliteral {
    color: #CB4B16;
  }

  .dirtab {
    border: 1px solid #A3B4D7;
  }

  th.dirtab {
    background: #EBEFF6;
  }

  hr {
    border-top: 1px solid #DDD;
  }

  #footer {
    color: #888;
  }

  .mdescLeft,.mdescRight {
    color: #555;
  }

  .memTemplParams {
    color: #464646;
  }

  td.mlabels-right {
    color: #B4C342;
  }

  .memtitle {
    border-bottom: 1px solid #666;
  }

  .memtemplate {
    color: #888;
  }

  .memnav {
    background-color: #666;
    border: 1px solid #B4C342;
  }

  .memproto {
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    color: #BBB;
  }

  .memdoc > p:first-child, .memdoc .textblock > p:first-child {
    color: #BBB;
  }

  .memdoc > p:first-child, .memdoc .textblock > h3:first-child {
    color: #BBB;
  }

  .paramtype {
    color: #BBB;
  }

  .params .paramname {
    color: #E8E8E8;
  }

  .fieldname {
    color: #FFF;
  }

  .fieldtable tbody tr td {
    border-top-color: #555;
    border-bottom-color: #555;
  }

  td.fieldtype {
    color: #BBB;
  }

  .arrow {
    color: #666;
  }

  address {
    color: #444;
  }

  table.doxtable td,table.doxtable th {
    border-color: #DDD;
  }

  table.doxtable th {
    background-color: #F3F3F3;
    color: #000;
  }

  div.navpath {
    color: #444;
  }

  #metabox {
    color: #666;
  }

  .glow {
    background-color: #00736F;
    box-shadow: 0 0 10px #00736F;
  }

  span.lineno {
    border-right: 2px solid #B4C342;
    background-color: #383838;
  }

  span.lineno a {
    background-color: #404040;
  }

  span.lineno a:hover {
    background-color: #484848;
  }

}

/* Hard black for dark mode on mobile (since it's likely to be an OLED screen) */
@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #CCC;
  }
}
